@font-face {
    font-family: "puny";
    src: url("puny8x10.ttf") format("truetype");
}

html, body {
    margin: 0;
    background-color: black;
    overflow: hidden;
}

body {
    color: white;
    font-family: "puny", monospace;
    font-size: 10px;
    text-transform: uppercase;
    text-shadow: 0 0 1px currentColor;
    line-height: 1.3em;
}

canvas {
    position: absolute;
}

.message-log {
    overflow-y: hidden;
}

.menu {
    position: absolute;
    background-color: black;
    border: 1px solid white;
}

.menu-title {
    text-align: center;
    margin-bottom: 0.5em;
}

.storage-menu {
    width: 400px;
    height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5em;
}

.help-menu {
    width: 920px;
    height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5em;
    white-space: pre;
}

.equipment {
    display: flex;
    justify-content: space-between;
    margin-left: 2em;
    margin-right: 2em;
}

.equipment-empty {
    color: gray;
}
