html, body {
    margin: 0;
    background-color: black;
    overflow: hidden;
}

canvas {
    position: absolute;
}

.message-log {
    overflow-y: hidden;
    color: white;
    font-family: monospace;
    font-size: 12pt;
    position: absolute;
}
